{% extends 'base.html' %}
{% block content %}
    <div class="Hui-article">
        <article class="cl pd-20">
            <table class="table table-border table-bordered table-bg" id="export_info">
                <thead>
                <tr>
                    <th scope="col" colspan="9">主机列表</th>
                </tr>
                <tr class="text-c">
                    <th width="150">标题</th>
                    <th width="150">项目信息</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-c">
                    <td>项目名称</td>
                    <td>{{ hostinfo.projectname }}</td>
		</tr>
                <tr class="text-c">
                    <td>服务器IP</td>
                    <td>{{ hostinfo.ipaddress }}</td>
		</tr>
                <tr class="text-c">
                    <td>root密码</td>
                    <td>{{ hostinfo.ssh_passwd }}</td>
		</tr>
                <tr class="text-c">
                    <td>登录端口</td>
                    <td>{{ hostinfo.ssh_port }}</td>
		</tr>
                <tr class="text-c">
                    <td>登录用户</td>
                    <td>{{ hostinfo.general_user }}</td>
		</tr>
                <tr class="text-c">
                    <td>项目名称</td>
                    <td>{{ hostinfo.projectname }}</td>
		</tr>
                <tr class="text-c">
                    <td>项目名称</td>
                    <td>{{ hostinfo.projectname }}</td>
		</tr>
                </tbody>
            </table>
            <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="l"><a href="javascript:;" onclick="datadel('#export_info')" class="btn btn-danger radius"> <i class="Hui-iconfont">&#xe6e2;</i> 导出信息</a></span>
            </div>
        </article>
{% endblock %}
{% block jsscript %}
function datadel(obj){
	// $("#btnExport").click(function(){
        $("table").tableExport({
		headings: true, 
    		footers: true, 
    		formats: ["xls", "csv", "txt"],
    		fileName: "{{ hostinfo.projectname }}",
    		bootstrap: true,
    		position: "bottom",
    		ignoreRows: null,
    		ignoreCols: null
        });
//    });
}
{% endblock %}
