<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />
    <title>Login</title>
    <link href="../static/css/login.css" type="text/css" media="screen" rel="stylesheet" />
    <link href="../static/css/jquery-ui-1.8.16.custom.css" rel="stylesheet">
    <!--<script src="../static/js/login/jquery-1.6.2.min.js"></script>-->
    <!--<script src="../static/js/login/jquery-ui-1.8.16.custom.min.js"></script>-->
    <!--<script type="text/javascript" src="../static/js/login/jquery.keyboard.extension-typing.js"></script>-->
    <!--<link type="text/css" href="../static/css/login/keyboard.css" rel="stylesheet" />-->
    <!--<script type="text/javascript" src="../static/js/login/jquery.keyboard.js"></script>-->

</head>
<body id="login">
<div id="wrappertop"></div>
<div id="wrapper">
    <div id="content">
        <div id="darkbanner" class="banner320">
            <h2>
                Login  System</h2>
        </div>
        <div id="darkbannerwrap">
        </div>
        <form action="/login" method="post">
            <fieldset class="form">
                <p>
                    <label class="loginlabel" for="user_name">
                        Username:</label>
                    <input class="logininput  ui-keyboard-input ui-widget-content ui-corner-all" name="user_name"
                           id="user_name" type="text" value="" />
                </p>
                <p>
                    <label class="loginlabel" for="user_password">
                        Password:</label>
                    <span>
                        <input class="logininput  ui-keyboard-input ui-widget-content ui-corner-all" name="user_password" id="user_password" type="password" /></span>
                </p>
                <p><span><input id="loginbtn" type="Submit" class="positive" name="Submit">Login</button></span>
                    <span>
                    <ul id="forgottenpassword">
                        <li class="boldtext"></li>
                        <li>
                            <input id="remember" type="checkbox" name="remember" id="rememberMe">
                            <label for="rememberMe">Rememberme</label>
                        </li>
                    </ul>
                    </span>
                </p>
            </fieldset>
    </div>
</body>
